<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Let's Try</h1>

    <div id="countdown-timer"></div>

    <script type="text/javascript">
        let remainigSeconds = 5;
        const intervalID = setInterval(() => {
            document.getElementById('countdown-timer').textContent = `Переход на новую страницу через ${remainigSeconds--} сек`;
            if (remainigSeconds < 0) {
                clearInterval(intervalID);
                window.location = 'http://127.0.0.1:8000/get_screen_info/'
            }
        }, 1000)
    </script>

    <script type="text/javascript">

        let url = `ws://${window.location.host}/ws/socket-server/`

        const mainSocket = new WebSocket(url)

        mainSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data);
        }

        mainSocket.onopen = function(e) {
            console.log('WebSocket connection opened');
        }

        mainSocket.onerror = function(e) {
            console.error('WebSocket error observed:', e);
        }

        mainSocket.onclose = function(e) {
            console.log('WebSocket connection closed.');
        }

    </script>
</body>
</html>