{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, 
          maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница информации</title>
    <link rel="stylesheet" href="{% static 'main/css/stylesheet.css' %}">
</head>
<body>
    <script src="{% static 'main/js/websocket_connection.js' %}"></script>
    <div class="main">
        <div class="container-1">
            <div class="col-1-1-1">
                <h2>Пересадки / Change here for</h2>
            </div>
            <div class="col-1-1">
                nonumes definiebas saepe dolorem discere iusto curabitur vocibus 
                alia pertinax molestiae fermentum senectus sit quis bibendum 
                tincidunt in efficitur corrumpit consequat efficitur cetero
            </div>
        </div>
        <div class="container-2">
            <div class="col-2-1">
                nonumes definiebas saepe dolorem discere iusto curabitur vocibus 
                alia pertinax molestiae fermentum senectus sit quis bibendum 
                tincidunt in efficitur corrumpit consequat efficitur cetero
            </div>
            <div class="col-2-2">
                <link rel="stylesheet" href="{% static 'main/css/map_style.css' %}">
                <div class="route" id="route">
                    <div class="completed-segment" id="completed-segment"></div>
                </div>
                <script src="{% static 'main/js/get_movement_animation.js' %}">
                </script>
            </div>
        </div>
        <div class="container-3">
            <div class="col-3-1">
                <div class="col-3-1-1">
                    <h2>Поезд следует до остановки / Terminal station:</h2>
                </div>
                <div class="col-3-1-2">
                    nonumes definiebas saepe dolorem discere iusto curabitur vocibus
                    alia pertinax molestiae fermentum senectus sit quis bibendum 
                    tincidunt in efficitur corrumpit consequat efficitur cetero
                </div>
            </div>
            <div class="col-3-2">
                nonumes definiebas saepe dolorem discere iusto curabitur vocibus 
                alia pertinax molestiae fermentum senectus sit quis bibendum 
                tincidunt in efficitur corrumpit consequat efficitur cetero
            </div>
        </div>
</body>
</html>