{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ГЛАВНАЯ ПЕРЕНАПРАВЛЕНИЯ</title>
    <script src="{% static 'main/js/get_screen_info_script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/stylesheet.css' %}">
</head>
<body>
    <form method="post">{% csrf_token %}</form>
    <div class="main">
      <div class="container-1">
        <div class="col-1-1">nonumes definiebas saepe dolorem discere iusto curabitur vocibus alia pertinax molestiae fermentum senectus sit quis bibendum tincidunt in efficitur corrumpit consequat efficitur cetero</div>
      </div>
        <div class="container-2">
        <div class="col-2-1">nonumes definiebas saepe dolorem discere iusto curabitur vocibus alia pertinax molestiae fermentum senectus sit quis bibendum tincidunt in efficitur corrumpit consequat efficitur cetero</div>
        <div class="col-2-2">nonumes definiebas saepe dolorem discere iusto curabitur vocibus alia pertinax molestiae fermentum senectus sit quis bibendum tincidunt in efficitur corrumpit consequat efficitur cetero</div>
      </div>
        <div class="container-3">
        <div class="col-3-1">nonumes definiebas saepe dolorem discere iusto curabitur vocibus alia pertinax molestiae fermentum senectus sit quis bibendum tincidunt in efficitur corrumpit consequat efficitur cetero</div>
        <div class="col-3-2">nonumes definiebas saepe dolorem discere iusto curabitur vocibus alia pertinax molestiae fermentum senectus sit quis bibendum tincidunt in efficitur corrumpit consequat efficitur cetero</div>
      </div>
    </div>
</body>
</html>