<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Route update</title>
</head>
<body>
    <button id="update-route-button">UPDATE ROUTE</button>

    <script>
         document.getElementById('update-route-button').addEventListener
        ('click', function () {
            fetch('/send-update-route-command/')
                .then(response => response.text())
                .then(data => console.log(data))
        });
    </script>

    <button id="create-running-text-button">RUNNING TEXT</button>

    <script>
        document.getElementById('create-running-text-button').addEventListener
        ('click', function () {
            fetch('/send_running_text_container_command/')
                .then(response => response.text())
                .then(data => console.log(data))
        });
    </script>

    <button id="play-video-button">PLAY VIDEO</button>

    <script>
        document.getElementById('play-video-button').addEventListener
        ('click', function () {
            fetch('/send_play_video_command/')
                .then(response => response.text())
                .then(data => console.log(data))
        });
    </script>

    <button id="stop-video-button">STOP VIDEO</button>

    <script>
        document.getElementById('stop-video-button').addEventListener
        ('click', function () {
            fetch('/send_stop_video_command/')
                .then(response => response.text())
                .then(data => console.log(data))
        });
    </script>

    <button id="sync-video-button">SYNC VIDEO</button>

    <script>
        document.getElementById('sync-video-button').addEventListener
        ('click', function () {
            fetch('/send_sync_video_command/')
                .then(response => response.text())
                .then(data => console.log(data))
        });
    </script>

</body>
</html>