.route {
    display: flex;
    top: -25%;
    position: relative;
    width: 82%;
    height: 1.5vh;
    background: #9460aa;
}

.route .completed-segment {
    position: absolute;
    height: 100%;
    background: gray;
    transition: width 0.5s;
}

.stop {
    width: 3vh;
    height: 3vh;
    background: #9460aa;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    transition: background 0.3s, border 0.3s;
}

.completed {
    background: gray;
}

.highlight {
    background: #9460aa;
    border: 0.5cap solid #9460aa;
}

.label {
    transform: rotate(60deg);
    transform-origin: top left;
    transition: color 0.3s, transform 0.3s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.label-wrapper {
    position: absolute;
    top: 30px;
    transform-origin: top left;
    white-space: ;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.completed-label {
    color: gray;
}

.highlight-label {
    transform: rotate(30deg) scale(1.3);
}

